{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay extra-height"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row extra-bottom">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'products:add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products:all_products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_price').on('change', function() {
                var price = $(this).val();
                // Convert the price format (e.g., 1550 to 15.50)
                var formattedPrice = (price / 100).toFixed(2);
                $(this).val(formattedPrice);
            });
            // Handle form submission
            $('#productForm').on('submit', function(e) {
                var price = $('#id_price').val();
                // Convert the price back to the original format (e.g., 15.50 to 1550)
                var rawPrice = Math.floor(price * 100);
                $('#id_price').val(rawPrice);
            });

            // Show toast on document load
            $('.toast').toast('show');
        });
    </script>
{% endblock %}
